/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*----------------
    DEBUG
-----------------*/
.debug{
    border: 1px solid rgb(180, 208, 231);
}

/*----------------
    COMMON
-----------------*/
button{
    cursor: pointer;
}

#margin-btn-plans{
    margin-top: 25px;
}
.margin-header{
    margin-left: 360px;
}

.border{
    border: 1px solid lightgray;
}
.margin-main{
    margin-left: 460px;
}

#titolo{
    margin-top: 110px;
    font-size: 50px;
}

i{
    margin-top: 10px;
}

.mini-hr{
    width: 50px;
    color: lightgrey;
    margin-top: 30px;
}

.margin-plans{
    margin-left: 20px;
}

.acquista-ora{
    margin-top: 25px;
}

h4{
    margin-top: 55px;
}

#enterprise{
    margin-left: 30px;
}

h2{
    margin-bottom: 20px;
}

#strong-enterprise{
    margin-bottom: 55px;
    display: block;
}
/*----------------
    HEADER
-----------------*/
.header-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo-container{
    width: 580px;
    height: 80px;
    display: flex;
    align-items: center;
}

#logo{
    display: inline-block;
}

.nav{
    display: inline-block;
    list-style: none;
    margin-left: 35px;
}

li{
    display: inline-block;
    margin-right: 40px;
}
.container-destra{
    width: 510px;
    height: 80px;
    display: flex;
    align-items: center;
}

.container-azzurro{
    height: 737px;
    background-color: rgb(180, 208, 231);
    
}

.container-provagratuita{
    width: 390px;
    height: 395px;
    font-size: 18px;
    display: inline-block;
    margin-top: 90px;
}

.contenuto-header{
    display: flex;
}

#annulla-prova{
margin-top: 35px;
}

#jumbo{
    width: 785px;
    height: 462px;
    display: inline-block;
    margin-top: 100px;
}
/*----------------
    MAIN
-----------------*/
.radio{
    margin-top: 50px;
}

.container-main{
    height: 3350px;
}

.col-piano{
    width: 300px;
    height: 1030px;
    margin-right: 50px;
    margin-top: 50px;
}

.ul-plans{
    margin-top: 15px;
}

.li-plans{
    margin-top: 28px;
}

.raw{
    display: flex;
}

.container-titolo{
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.container-enterprise{
    width: 1000px;
    height: 255px;
    margin-top: 50px;
    position: relative;
}

.container-foto{
    width: 600px;
    height: 510px;
    margin-top: 150px;
}

.container-descrizione{
    margin-top: 210px;
    width: 350px;
    margin-left: 55px;
}

#partner{
    width: 600px;
    height: 510px;
}

.col-enterprise{
    width: 600px;
}

.container-dropbox-buisness{
    width: 1000px;
    margin-top: 165px;
}

.container-photo{
    display: flex;
}

.col-photo{
    margin-left: 70px;
}

.container-sottotitolo{
    width: 270px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
#buisness-photo{
    width: 270px;
    height: 210px;
    margin-top: 80px;
}

#raw-sotto{
    margin-top: 70px;
}

/*----------------
    BUTTON
-----------------*/
.accedi-button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.inizia-button{
    width: 70px;
    height: 35px;
    background-color: blue;
    border: none;
    color: white;
    margin-left: 20px;
}

.provagratuita-button{
    width: 245px;
    height: 45px;
    border: none;
    color: white;
    background-color: blue;
    margin-top: 35px;
}

.btn-partner{
    width: 155px;
    height: 43px;
    border: 1px solid black;
    background-color: white;
    margin-top: 35px;
}

.btn-plans{
    width: 240px;
    height: 40px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 45px;
}

.btn-ufficio-vendite
{
    width: 240px;
    height: 40px;
    color: white;
    background-color: blue;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 70px;
}

#prova-gratuita{
    border: none;
    background-color: white;
    width: 295px;
    height: 45px;
    cursor: pointer;
}

/*----------------
   FOOTER
-----------------*/
.container-500{
    margin-top: 210px;
    margin-bottom: 150px;
}

#t500{
    margin-bottom: 75px;
}

.container-partner{
    margin-top: 150px;
}

.container-partner-grande{

}
.box-partner{
    width: 630px;
    height: 630px;
    display: inline-block;
    position: relative;
}

.box-partner-small{
    width: 315px;
    height: 315px;
}

.prima-raw{
    display: flex;
}

.quadrato-interno{
    width: 290px;
    height: 290px;
    background-color: #a2d39b;
    margin: auto;
    margin-top: 15px;
}

#primo-quadrato{
    background-color: #d1e9cd;
}

#secondo-quadrato{
    background-color: #61082b;
}

#terzo-quadrato{
    background-color: #0093ce;
}

#quarto-quadrato{
    background-color: #ff1c1c;
}

#quadrato-grande
{
    background-color: #f5f5f5;
    position: absolute;
    top: 4500;
    left: 638px;
    
}

#secondo-box{
    position: absolute;
    right: 0;
}
#a1-box2{
    background-color: #d5001f;
}

#a2-box2{
    background-color: #b4d0e7;
}

#a3-box2{
    background-color: #0d2481;
}

#a4-box2{
    background-color: #ffd830;
}

.contenitore-p-quadrato{
    margin-top: 45px;
    width: 535px;
}

.container-azzurrino{
    height: 360px;
    background-color: #b4d0e7;
    position: relative;
}

.container-titolo-azienda{
    width: 475px;
    position: absolute;
    top: 135px;
}

#p-quadrato-b{
    margin-top: 55px;
}
.container-button-b{
    position: absolute;
    top: 130px;
    left: 1160px;
}

.container-faq{
    height: 725px;
}

.faq{
    margin-top: 165px;
}

.faq-hr{
    width: 990px;
    color: lightgrey;
    margin-bottom: 40px;
    margin-top: 40px;
}

#domande{
    margin-bottom: 70px;
}

.margin-faq-arrow{
    margin-right: 300px;
}
.container-finale{
    height: 570px;
    background-color: black;
}

.container-col{
    display: flex;
}

.col-footer{
    width: 170px;
    height: 230px;
    margin-left: 100px;
    margin-top: 105px;
    color: white;
}

#first-col{
    margin-left: 360px;
}

#margin-li{
    margin-top: 20px;
}

.container-hr{
    margin-left: 360px;
    margin-top: 115px;
    color: lightgrey;
}

.footer-hr{
    width: 125px;
}

/*----------------
   TYPOGRAPHY 
-----------------*/
#titolo-plans{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.fa-check{
    color: blue;
    margin-top: 30px;
}

.mese{
    color: grey;
    margin-top: 35px;
}

/*----------------
   IMAGE PARTNER
-----------------*/
#designit{
    width: 145px;
    height: 50px;
    margin-top: 120px;
    margin-left: 75px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#arizona{
    width: 160px;
    height: 120px;
    margin-top: 98px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#florida{
    width: 160px;
    height: 32px;
    margin-top: 145px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#topps{
    width: 160px;
    height: 75px;
    margin-top: 120px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#design-b{
    width: 270px;
    height: 85px;
    
}

#world{
    width: 160px;
    height: 75px;
    margin-top: 120px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#hearst{
    width: 160px;
    height: 20px;
    margin-top: 150px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#lonely{
    width: 165px;
    height: 80px;
    margin-top: 120px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

#clear{
    width: 160px;
    height: 110px;
    margin-top: 105px;
    margin-left: 80px;
    filter: invert(100%) sepia(2%) saturate(605%) hue-rotate(280deg) brightness(117%) contrast(100%);
}