/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    DEBUG
-----------------*/
.debug{
    border: 1px dashed black;
}

/*----------------
    COMMON
-----------------*/
.margin-header{
    margin-left: 360px;
}

.margin-main{
    margin-left: 460px;
}

#titolo{
    margin-top: 110px;
    font-size: 50px;
}

i{
    margin-top: 10px;
}

.mini-hr{
    width: 50px;
    color: lightgrey;
    margin-top: 30px;
}

.margin-plans{
    margin-left: 20px;
}

.acquista-ora{
    margin-top: 25px;
}

h4{
    margin-top: 55px;
}

#enterprise{
    margin-left: 30px;
}

h2{
    margin-bottom: 20px;
}

#strong-enterprise{
    margin-bottom: 55px;
    display: block;
}
/*----------------
    HEADER
-----------------*/
.header-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo-container{
    width: 550px;
    height: 80px;
    display: flex;
    align-items: center;
}

#logo{
    display: inline-block;
}

.nav{
    display: inline-block;
    list-style: none;
    margin-left: 35px;
}

li{
    display: inline-block;
    margin-right: 40px;
}
.container-destra{
    width: 490px;
    height: 80px;
    display: flex;
    align-items: center;
}

.container-azzurro{
    height: 737px;
    background-color: rgb(180, 208, 231);
}

.container-provagratuita{
    width: 390px;
    height: 395px;
    font-size: 18px;
    display: inline-block;
    margin-top: 90px;
}

.contenuto-header{
    display: flex;
}

#annulla-prova{
margin-top: 35px;
}

#jumbo{
    width: 785px;
    height: 462px;
    display: inline-block;
    margin-top: 100px;
}
/*----------------
    MAIN
-----------------*/


.container-main{
    border: 1px dashed red;
}

.radio{
    margin-top: 50px;
}

.col-piano{
    width: 300px;
    height: 950px;
    margin-right: 50px;
    margin-top: 50px;
}

.ul-plans{
    margin-top: 15px;
}

.li-plans{
    margin-top: 28px;
}

.raw{
    display: flex;
}

.container-titolo{
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.container-enterprise{
    width: 1000px;
    height: 255px;
    margin-top: 50px;
    position: relative;
}

.container-foto{
    width: 600px;
    height: 510px;
    margin-top: 150px;
}

.container-descrizione{
    margin-top: 210px;
    width: 350px;
    margin-left: 55px;
}

#partner{
    width: 600px;
    height: 510px;
}

.col-enterprise{
    width: 600px;
    border: 1px dashed red;
}
/*----------------
    BUTTON
-----------------*/
.accedi-button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.inizia-button{
    width: 70px;
    height: 35px;
    background-color: blue;
    border: none;
    color: white;
    margin-left: 20px;
}

.provagratuita-button{
    width: 245px;
    height: 45px;
    border: none;
    color: white;
    background-color: blue;
    margin-top: 35px;
}

.btn-partner{
    width: 155px;
    height: 43px;
    border: 1px solid black;
    background-color: white;
    margin-top: 35px;
}

.btn-plans{
    width: 240px;
    height: 40px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 45px;
}

.btn-ufficio-vendite
{
    width: 240px;
    height: 40px;
    color: white;
    background-color: blue;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 70px;
}

/*----------------
   TYPOGRAPHY 
-----------------*/
#titolo-plans{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.fa-check{
    color: blue;
    margin-top: 30px;
}

.mese{
    color: grey;
    margin-top: 35px;
}

